@using ProjectManagementSystem.Models;
@model IEnumerable<Risk>

@{
    ViewBag.Title = "Risks";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_ProjectNavbar")
}

<h2>Risks</h2>
<table class="table">
    <tr>
        <th>Risk</th>
        <th>Severity</th>
        <th>Description</th>
    </tr>
    @foreach (Risk risk in Model) {
        <tr>
            <td>@risk.RiskName</td>
            <td>@risk.RiskLevel</td>
            <td>@risk.RiskDescription</td>
        </tr>
    }
</table>
<hr />
@using(Html.BeginForm("DeleteRisk", "Project", new{id = ViewBag.ProjectId}, FormMethod.Post, new { @class = "form-horizontal"})) {
    <h3>Delete a Risk</h3>
    <div class="form-group">
        <label for="DeleteRisk" class="col-sm-2 control-label">Risk:</label>
        <div class="col-sm-4">
            <select class="form-control" id="DeleteRisk" name="DeleteRisk">
                @foreach (Risk risk in Model) {
                    <option value=@Convert.ToString(risk.RiskID)>@risk.RiskName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitDelete">Delete</button>
        </div>
    </div>
}
<hr />
@using(Html.BeginForm("AddRisk", "Project", new{id = ViewBag.ProjectId}, FormMethod.Post, new { @class = "form-horizontal"})) {
    <h3>Add a Risk</h3>
    <div class="form-group">
        <label for="RiskName" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="RiskName" id="RiskName" />
        </div>
    </div>
    <div class="form-group">
        <label for="RiskDescription" class="control-label col-sm-2">Description:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="RiskDescription" name="RiskDescription" rows="8"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="RiskLevel" class="col-sm-2 control-label">Severity:</label>
        <div class="col-sm-4">
            <select class="form-control" id="RiskLevel" name="RiskLevel">
                <option value="Low" selected="selected">Low</option>
                <option value="Moderate">Moderate</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitAdd">Add</button>
        </div>
    </div>
}

