@using ProjectManagementSystem.Models;
@model RiskModel

@{
    ViewBag.Title = "Risks";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_ProjectNavbar")
}

<h2>Risks</h2>
<table class="table">
    <tr>
        <th>Risk</th>
        <th>Severity</th>
        <th>Status</th>
        <th>Description</th>
    </tr>
    @foreach (Risk risk in Model.Risks) {
        <tr>
            <td>@risk.Name</td>
            <td>@risk.RiskLevel.LevelName</td>
            <td>@risk.RiskStatus.StatusName</td>
            <td>@risk.Description</td>
        </tr>
    }
</table>
<hr />
@using(Html.BeginForm("DeleteRisk", "Project", new{id = ViewBag.ProjectId}, FormMethod.Post, new { @class = "form-horizontal"})) {
    <h3>Delete a Risk</h3>
    <div class="form-group">
        <label for="DeleteRisk" class="col-sm-2 control-label">Risk:</label>
        <div class="col-sm-4">
            <select class="form-control" id="DeleteRisk" name="DeleteRisk">
                @foreach (Risk risk in Model.Risks) {
                    <option value=@Convert.ToString(risk.RiskID)>@risk.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitDelete">Delete</button>
        </div>
    </div>
}
<hr />
@using(Html.BeginForm("AddRisk", "Project", new{id = ViewBag.ProjectId}, FormMethod.Post, new { @class = "form-horizontal"})) {
    <h3>Add a Risk</h3>
    <div class="form-group">
        <label for="RiskName" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="RiskName" id="RiskName" />
        </div>
    </div>
    <div class="form-group">
        <label for="RiskDescription" class="control-label col-sm-2">Description:</label>
        <div class="col-sm-8">
            <textarea class="form-control" id="RiskDescription" name="RiskDescription" rows="8"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="RiskLevel" class="col-sm-2 control-label">Severity:</label>
        <div class="col-sm-2">
            <select class="form-control" id="RiskLevel" name="RiskLevelId">
                @foreach (RiskLevel level in Model.Levels) {
                    <option value=@level.RiskLevelID>@level.LevelName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="RiskStatus" class="col-sm-2 control-label">Status:</label>
        <div class="col-sm-2">
            <select class="form-control" id="RiskStatus" name="RiskStatusId">
                @foreach (RiskStatus status in Model.Statuses) {
                    <option value=@status.RiskStatusID>@status.StatusName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitAdd">Add</button>
        </div>
    </div>
}

