@using ProjectManagementSystem.Models
@model IEnumerable<Member>

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_ProjectNavbar")
}

<h2>Team</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
@foreach (Member member in Model) {
    <tr>
        <td>@member.MemberName</td>
        <td>@member.Email</td>
        <td>@member.Phone_</td>
    </tr>
}
</table>
<hr />
@using (Html.BeginForm("AddMember", "Project", new { id = ViewBag.ProjectId }, FormMethod.Post, new { @class = "form-horizontal" })) {
    <h3>Add a Team Member</h3>
    <div class="form-group">
        <label for="MemberName" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="MemberName" id="MemberName" />
        </div>
    </div>
    <div class="form-group">
        <label for="MemberEmail" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="MemberEmail" id="MemberEmail" />
        </div>
    </div>
    <div class="form-group">
        <label for="MemberPhone" class="col-sm-2 control-label">Phone:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="MemberPhone" id="MemberPhone" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitAdd">Add</button>
        </div>
    </div>
}
<hr />
@using (Html.BeginForm("DeleteMember", "Project", new { id = ViewBag.ProjectId }, FormMethod.Post, new { @class = "form-horizontal" })) {
    <h3>Delete a Team Member</h3>
    <div class="form-group">
        <label for="MemberDeleted" class="col-sm-2 control-label">Member:</label>
        <div class="col-sm-4">
            <select class="form-control" id="MemberDeleted" name="MemberDeleted">
                @foreach (Member member in Model) {
                    <option value=@Convert.ToString(member.MemberID)>@member.MemberName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitDelete">Delete</button>
        </div>
    </div>
}