@using ProjectManagementSystem.Models
@model IEnumerable<Requirement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_RequirementsNavbar")
}

<h2>View Requirements</h2>
<div class="container">
@foreach (Requirement req in Model) {
    <div class="row">
        <div class="col-md-1">@req.Number</div>
        <div class="col-md-1">@req.RequirementType</div>
        <div class="col-md-8">@req.Description</div>
        <div class="col-md-2">@Html.ActionLink("Edit", "Edit", "Requirements", new { id = req.RequirementID }, null)</div>
    </div>
}
</div>
<hr />
<h3>Delete a Requirement</h3>
@using (Html.BeginForm("Delete", "Requirements", null, FormMethod.Post, new { @class = "form-horizontal" })) {
    <div class="form-group">
<<<<<<< HEAD
        <label for="DeleteRequirement" class="col-sm-2 control-label">Requirement:</label>
=======
        <label for="DeleteRequirement" class="col-sm-2 control-label">Requirement Number:</label>
>>>>>>> origin/master
        <div class="col-sm-4">
            <select class="form-control" id="DeleteRequirement" name="DeleteRequirement">
                @foreach (Requirement req in Model) {
                    <option value=@Convert.ToString(req.RequirementID)>@req.Number</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-1">
            <button type="submit" class="form-control" name="SubmitDelete">Delete</button>
        </div>
    </div>
}
