@using ProjectManagementSystem.Models
@model IEnumerable<Requirement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_RequirementsNavbar")
}

<h2>View Requirements</h2>
<div class="container">
@foreach (Requirement req in Model) {
    <div class="row">
        <div class="col-md-1">@req.Number</div>
        <div class="col-md-1">@req.RequirementType</div>
        <div class="col-md-8">@req.Description</div>
        <div class="col-md-2">@Html.ActionLink("Edit", "Edit", "Requirements", new { id = req.RequirementID }, null)</div>
    </div>
}
</div>
